<ion-header style="text-align:center" color= "light">
  <ion-toolbar color= "light">
    <ion-title>RENZO FEDELI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido" mode="ios"  mode="md">
  
  <!-- Armo grilla para alinear campos -->
 
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="4" size-xs="9">
          <ion-card style="border: none;box-shadow: none;">
            <ion-card-content>
              <ion-title>Fecha</ion-title>
              <ion-item>
                <ion-input type="number"  placeholder="##/##/####"></ion-input>
              </ion-item>
              <ion-title>CUE</ion-title>
              <ion-item>
                <ion-input type="text"  placeholder="Lugar de TRabajo"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row class="ion-align-items-end">
          <ion-col class="ion-align-self-end">
            <ion-button color="primary">Marcar Entrada</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
</ion-content>
